*,:before,:after{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
    text-decoration: none;
    border: none;
    box-sizing: border-box;   
    -webkit-font-smoothing: antialiased;
    
}

.container{    
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15;
}

button{
    background: none;
    padding: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
}


/* Header */

.header{
    width: 100%;
    height: 112px;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
}

.header__inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}

.header__logo{
    font-size: 18px;
    text-transform: uppercase;
    padding: 6 7;
    border: 5px solid black;
}

.header__logo__O{
    color: #77efe5;
    font-size: 22px;
}

.color--white{
    color: white;
}

.fixed{
    position: fixed;
    height: auto;
    padding: 10 0;
    background-color: rgba(177, 177, 177, 0.253);
    z-index: 999999;
}

/* Nav */

.nav{
    display: flex;
    align-items: center;
}

.nav__element{
    font-size: 15px;
    font-weight: bold;
    margin: 0 10;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.1s linear;
}

.nav__element:hover{
    color: #77efe5;
}

/* Burger */

.burger{
    display: none;         
}

/* Intro */

.intro{
    height: 805px;
    width: 100%;
    background-color: #eff0f2;
}

.intro__inner{
    width: 100%;
    text-align: center;
    position: relative;
}

.intro__title{
    font-size: 45px;
    font-weight: bold;
    margin: 200 0 0 0;
    line-height: 1.6;
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.14);
    margin-bottom: 140px;
}

.text--blue{
    background-color: #b2f2ee;
    font-size: 45px;
    font-weight: bold;
    line-height: 1.6;
    padding: 8 8;
}

.intro__title__p{
    font-size: 45px;
    font-weight: bold;
    line-height: 1.6;
}

.intro__button{
    text-transform: uppercase;
    border: 2px solid #777879;
    font-weight: 400;
    font-size: 18px;
    padding: 18 46;
    border-radius: 2px;
    transition: border-color .1s linear;
    transition: background-color .1s linear;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;    
    margin-bottom: 50px;
}

.intro__button:hover{
    background-color: #b2f2ee;
    border-color: #b2f2ee;
    color: #fff;
}

.cup{
    position: absolute;
    right: 0;
    bottom: 0;
}


.about{
    padding: 100 0;
    background-color: #f8fafa;
    width: 100%;
}

.about__inner{
    text-align: center;
    font-weight: bold;
}

.about__title , .works__title , .services__title , .team__title , .reviews__title{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 33px;
    margin-bottom: 5px;
}

.about__subtitle , .works__subtitle , .works__subtitle , .team__subtitle , .reviews__subtitle{
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 16px;    
    text-transform: uppercase;
}

.about__content{
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

.about__images{
    width: 345px;
    height: 450px;
    overflow: hidden;
    position: relative;    
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
}

.about__img{
    position: absolute;
    left: 60%;
    z-index: 1;
    transform: translateX(-45%);
    height: 100%;
}

.about__info{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 500px;
    margin-left: 100px;
}

.about__info__title{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.about__info__second__title{
    margin-top: 30px;
}

.about__info__desc{
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    margin-top: 20px;
}


/* Works */

.works__inner{
    display: flex;
    flex-direction: column;
    padding: 100 0;
    text-align: center;
}

.work__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 120px;
}

.work__item{
    width: 365px;
    height: 353px;
    margin: 5 5;
    overflow: hidden;
}

/* Services */

.services{
    background-color: #f9fbfb;
}

.services__inner{
    display: flex;
    flex-direction: column;
    padding: 125 0;
    text-align: center;
    width: 100%;
}

.services__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 120px;
}

.services__brick{
    position: relative;
    overflow: hidden;
    margin: 3.5 3.5;
    cursor: pointer;
}

.brick-hover , .brick-click{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity .15s ease-in-out;
    text-align: left;
}

.brick-hover{
    padding: 140px 80px 60px 65px;
    background-color: rgba(0, 0, 0, 0.60);    
}

.brick__hover__title{
    color: #fff;
    margin-bottom: 25px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.brick__hover__desc{
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.services__brick:hover .brick-hover{
    opacity: 1;
}


.brick__hover__more{
    display: flex;
    align-items: center;    
}

.know__more{
    color: #fff;
    margin-right: 20px;
    font-weight: 400;
}

.arrow-left{
    width: 24px;
    fill: #fff;
}


.brick-click{
    background-color: #71f5ea;
    z-index: 2;
    padding: 65 100 10 65;
}

.opacity{
    opacity: 1;
}

.color--black{
    color: black;
}

.brick-type-small .brick-click{
    padding: 65 50 10 65;
}

/* Team */

.team{
    background-color: #fff;
    text-align: center;
}

.team__inner{
    display: flex;
    flex-direction: column;
    padding: 125 0;
    text-align: center;
    width: 100%;
}

.team__items{
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team__item{
    margin: 5px;
    position: relative;
    overflow: hidden;
}



.team__item__content__wrapper{
    width: 100%;
    height: 100%;
    padding: 185 30 30 30;
    position: absolute;
    top: 0;
    left: 0;
}

.team__item__content{
    width: 100%;
    height: 100%;
    background-color: #6ff6eb;
    transition: transform .2s ease;
    transform: translateY(260px);
}

.team__item:hover .team__item__content{
    transform: translateY(0px);
}

.team__item__h{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 25px;
    text-align: left;
}

.team__item__content{
    padding: 32px;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
}

.team__work{
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 15px;
    color: #767070;
    text-align: left;
}

.team__desc{
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: left;
    font-size: 16px;
}

.social{
    display: flex;
}

.social__item{
    margin-right: 9;
}

.social__icon{
    width: 14px;
    height: 14px;
    transition: fill .1s linear;
}

.social__icon:hover{
    fill: #fff;
}

/* Reviews */

.reviews{
    padding: 100 0;
    background-color: #f8fafa;
}

.reviews__inner{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.reviews__content{
    display: flex;
    margin-top: 140px;
    justify-content: center;
    align-items: center;
}

.reviews__images{
    width: 350px;
    position: relative;  
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
}


.reviews__images{
}

.reviews__image__slider{
    position: relative;
    overflow: hidden;
}

 .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    position: absolute;
    z-index: 222;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
 }



.slick-dots li{
    list-style: none;
    margin: 20 5px;
}

 .slick-dots button{
    width: 12px;
    height: 12px;
    border-radius: 3px;
    background-color: #ffffff;
    font-size: 0;
    color: transparent;
    display: flex;
    align-self: center;
    border: 1px solid rgb(219, 219, 219);
}
 .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
 }

 .slick-active button{
    background-color: #71f6eb;
    border: none;
}


.reviews__info{
    height: 352px;
    background-color: #eaebed;
    padding: 80 50 40 50;
    text-align: center;
}

.reviews__info__slider{
    width: 665px;
    height: 400px;
    margin-left: 80px;    
    overflow: hidden;
    position: relative;
}

.reviews__info__slider .slick-arrow{
    position: absolute;
    z-index: 10;
    bottom: 0;
    width: 50px;
    height: 48px;
    color: transparent;
    overflow: hidden;
    background-color: #eaebed;
}

.reviews__info__slider .slick-prev{
    background: url('./img/SVG/services/left-arrow.svg') 50% 50% / 100% no-repeat;
    content: '';
    right: 50;
    background-size: 40%;  
    background-color: #eaebed;  
}

.reviews__info__slider .slick-next{
    content: '';
    right: 0;
    background: url('./img/SVG/services/right-arrow.svg') 50% 50% / 100% no-repeat;
    background-size: 40%;
    background-color: #eaebed;
}

.text--center{
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

.font--size--25{
    font-size: 25px;
}

.font--size--18{
    font-size: 18px;
}

.review__desc{
    font-size: 16px;
    font-weight: 400;
}

.reviews__star{    
    margin-top: 15px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.star{
    width: 15px;
    height: 15px;
    margin: 5px;
}

/* Comp */

.comp{
    background-color: #fff;
    padding: 50 0;
}

.comp__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.comp__item{
    width: 25%;
    padding: 30 90;
}

.comp__img{
    width: 100%;
}

/* Adress */

.adress{
    width: 100%;
    background-image: url('img/adress.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.adress__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150 0;
}

.adress__forms{
    width: 615px;
    height: 460px;
    padding: 30px;
    background-color: #495862de;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.adress__info{
    width: 500px;
    height: 460px;
    background-color: #495862de;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 29px;
}

.adress__form{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #a0acb4;
    font-weight: 400;
    font-size: 15px;
    outline:none;
    color: #a0acb4;
}

.adress__form::placeholder{
    color: #a0acb4;
}

.textarea{
    height: 120px;
    resize: none;
}

.send{
    text-transform: uppercase;
    width: 244px;
    height: 53px;
    background-color: #6eeee4;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .1s linear;
}

.send:hover{
    background-color: #fafafa;
}

.map{
    overflow: hidden;
}


.adress__item{
    font-size: 15px;
    font-weight: 400;
    color: #a0acb4;
}

/* SLIDER */

/* Review images slider */

.reviews__images{
    min-width: 0;
}

.slick-track{
    display: flex;
}

/* Review info slider */




    @media (max-width: 1171px){

    /* Header */

    .header{
        width: 100%;
        height: auto;
        padding: 20 0;
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
    }

    .header__inner{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-self: center;
    }

    .header__logo{
        font-size: 18px;
        text-transform: uppercase;
        padding: 6 7;
        border: 5px solid black;
    }

    .header__logo__O{
        color: #77efe5;
        font-size: 22px;
    }

    .color--white{
        color: white;
    }

    .fixed{
        position: fixed;
        height: auto;
        padding: 10 0;
        background-color: rgba(177, 177, 177, 0.253)
    }

    .brick-type-big{
        width: 500px;
        position: relative;
    }
    
    .brick-type-small{
        width: 400px;
        position: relative;
    }

    .service__img{
        z-index: 1;
        transform: translateX(-13%);
    }
    
    .brick-hover{
        padding: 70 60;
    }

    .brick-type-small .brick-click{
        padding: 40px;
    }

    .brick-click{
        padding: 40 50px;
    }

    /* reviews */

    .reviews__images{
        width: 300px;
        position: relative;
        height: 350px;
    }
    
    .reviews__info{
        padding: 70 60 40 60;
        width: 600px;
        height: 300px;        
    }

    .reviews__info__slider{
        width: 600px;
        height: 348px;
        margin-left: 40px;
        overflow: hidden;
        position: relative;
    }

    /* Adress */
    
    .adress{
        width: 100%;
        height: auto;
        padding: 50 0 50 0;
        overflow: hidden;
    }


    .adress__inner{
        justify-content: center;
    }

    .adress__forms{
        width: 480px;
        height: 400px;
        padding: 20px;
    }

    .adress__info{
        width: 420px;
        height: 400px;
        margin-left: 20px;
        padding: 0px;
    }    

    .adress__text{
        padding: 20 20 5 20;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .adress__item{
        padding: 3px;
        font-size: 16px;
    }

    .send{
        width: 220px;
        height: 50px;
    }

    .map-9cd199b9cc5410cd3b1ad21cab2e54d3{
        height: 270px;
    }

    /* Comp */

    .comp__item{
        width: 30%;
    }

    .comp{
        padding: 30px;
    }

    /* About */

    .about__images{
        width: 300px;
        height: 400px;
    }

    .about__info{
        width: 450px;
        margin-left: 70px;
    }

    .about__info__title{
        font-size: 18px;
    }

    .about__info__desc{
        font-size: 14px;
        margin-top: 10px;
    }

    .about__info__second__title{
        margin-top: 20px;
    }

    }

    @media (max-width: 991px){
 
        .about{
            padding: 09;
        }

        .services__inner , .about__inner{
            padding: 100 0;
        }

        /* Header */

        .header{
            position: fixed;
            height: auto;
            padding: 10 0;
            background-color: rgb(255, 255, 255)
        }

        .header__inner{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        /* Burger + Nav */

        .nav{
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 0;
            top: 100%;
            width: 50%;
            height: calc(100vh - 69px);
            text-align: center;
            background-color: rgb(255, 255, 255);          
            display: none;
        }

        .nav__element{
            height: 16.66666%;
            width: 100%;
            font-size: 20px;
            border-bottom: 1px solid rgb(149, 149, 149);
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
 
        .nav-show{
            display: flex;
        }

        .burger{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 40px;
            height: 30px;
            padding: 0;
        }

        .burger__item{
            width: 40px;
            display: block;
            height: 3px;
            background-color: rgb(0, 0, 0);
            font-size: 0;
            color: transparent;
            position: relative;
        }
    
        /* Intro */

        .intro{
            height: auto;
        }

        .cup{
            display: none;
        }

        .intro__title{
            margin: 100 0;
            font-size: 40px;
        }

        .intro__title__p{
            font-size: 40px;
        }

        .text--blue{
            font-size: 40px;
        }

        /* About */

        .about{
            padding: 0;
        }

        .about__inner{
            padding: 60 0;
        }

        .about__content{
            margin-top: 70px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .about__images{
            width: 600px;
        }
        
        .about__img{
            left: 0;
            transform: none;
        }

        .about__info{
            width: 600px;
            margin:0;
            padding: 30 10;
        }
        
        .about__info__title{
            font-size: 25px;            
        }

        .about__info__desc{
            font-size: 18px;
        }

        /* Works */
        
        .works .container{
            padding: 0;
        }

        .works__inner{
            padding: 70 0 0 0;
        }        

        .work__item{
            width:50%;
            height: calc(100vw / 2);
            margin:0;
        }

        .work__img{
            width: 100%;
            height: 100%;
        }

        .work__items{
            margin-top: 70px;
        }

        /* Sevices */

        .services .container{
            padding: 0;
        }

        .services__inner{
            padding: 70 0;
        }

        .services__content{
            width: 767px;
            max-width: 100%;
            margin: 50 auto;
        }

        .brick-type-big{
            width: 60%;
        }

        .brick-type-small{
            width: 40%;
        }

        .services__brick{
            margin: 0;
        }

        .service__img{
            width: 100%;
            height: 273px;
            left: 0;
            transform: none;
        }

        .brick-hover{
            opacity: 1;
            padding: 30;
            text-align: center;
        }

        .brick__hover__more{
            display: flex;
            width: auto;
            height: auto;
            justify-content: center;
        }

        .brick-click{
            padding: 30;
        }

        .brick-click .brick__hover__title{
            display: none;
        }

        .color--black{
            font-size: 15px;
            line-height: 1.3;
        }

        .brick-type-small .brick-click{
            padding: 30px;
        }

        /* Team */

        .team .container{
            padding: 0;
        }

        .team__item{
            padding: 0;
            margin: 0;
        }

        /* Reviews */

        .reviews__content{
            flex-direction: column;
            margin-top: 100px;
        }

        .reviews__images{
            margin-bottom: 30px;
        }

        .reviews__info{
        }

        .reviews__info__slider{
            max-width: 100%;
            margin: 0;
        }

        /* Comp */

        .comp__item{
            width: 200px;
            padding: 20 50;
        }

        /* Adress */

        .adress{
            padding: 0;
        }

        .adress__inner{
            padding: 50 30;
            flex-direction: column;
        }

        .adress__forms{
            width: 100%;
            height: 500px;
            margin-bottom: 20px;
        }

        .adress__form{
            height: 15%;
            font-size: 17px;
        }

        .send{
            width: 60%;
            height: 70px;
            align-self: center;
            font-size: 26px;
        }

        .adress__info{
            width: 100%;
            margin: 0;
            font-size: 17px;
            height: auto;
        }

        .adress__text{            
            padding: 20px;
        }

        .adress__item{
            padding: 10px;
            font-size: 17px;
        }

    }

    @media (max-width: 767px){
        
        /* Header */

        .header__logo{
            font-size: 13px;
            padding: 4 5;
            border: 3px solid black;
        }

        .container{
            padding: 0 8;
        }

        .header__logo__O{
            font-size: 14px;
        }

        .burger{
            width: 30px;
            height: 20px;
        }

        .burger__item{
            width: 30px;
        }

        .nav{
            height: calc(100vh - 52px);
            width: 50%;
        }

        .about__title, .works__title, .services__title, .team__title, .reviews__title {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 25px;
            margin-bottom: 5px;
        }

        .about__subtitle, .works__subtitle, .works__subtitle, .team__subtitle, .reviews__subtitle {
            font-family: 'Merriweather', serif;
            font-weight: 400;
            font-size: 14px;
            text-transform: uppercase;
        }

        /* Intro */

        .intro__inner{
            padding: 50 0;
        }


        .intro__title , .intro__title__p , .text--blue{
            font-size: 34px;
        }

        .intro__title{
            margin: 0 0 50 0;
        }

        .text--blue{
            padding: 5;
        }

        .intro__button{
            width: 190px;
            height: 50px;
            padding: 0;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        /* About */

        .about__info{
            max-width: 100%;
        }

        .about .container{
            padding: 0;
        }

        .about__images{
            width: 100%;
            box-shadow: none;
        }

        .about__img{
            left: 30%;
            transform: translateX(-30%);
        }

        .about__info{
            padding: 40 30 0 30;
        }

        .about__info__title{
            font-size: 20px;
        }

        .about__info__desc{
            font-size: 15px;
            line-height: 1.4;
        }

        /* Services */

        .services__content{
            flex-direction: column;
            align-items: center;
            margin: 70 0 0 0;
        }

        .services__inner{
            padding: 70 0 0 0;
            height: auto;
        }

        .services__brick{
            width: 100%;
            max-height: 250px;
        }

        .brick-hover .brick__hover__desc{
            display: none;
        }

        .brick-hover{
            padding: 30 10;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .brick__hover__title{
            margin: 0 0 30 0;
        }

        .brick__hover__more{
            height: auto;
        }

        .arrow-left{
            height: 24px;
        }

        .brick-click{
            padding: 18px;
            font-size: 14px;
        }

        .brick-type-small .brick-click{
            padding: 18px;
        }

        .color--black{
            font-size: 17px;
        }

        .service__img{
            width: 100%;
            height: auto;
        }

        /* Team */
        .team__items{
            padding: 0;            
        }

        .team__item{
            width: 50%;
            padding: 0;
            margin: 0;
        }

        .team__img{
            width: 100%;
            height: auto;
        }

        .team__item__content__wrapper{
            display: flex;
            align-items: flex-end;
            padding: 0;
        }

        .team__item__content{
            padding: 20px;
            transform: translateY(350px);
            height: auto;
        }

        .team__item__h{
            font-size: 18px;
            margin-bottom: 10px;
            box-shadow: none;
        }

        .team__desc{
            font-size: 14px;
        }

        .social__icon{
            width: 35px;
            height: 35px;
            border: 2px solid black;
            border-radius: 9999px;
            padding: 5px;
        }


        /* Reviews */
        
        .reviews .container{
            padding: 0;
        }

        .reviews{
            padding: 30 0;
        }


        .reviews__info{
            border: 1px solid white;
            border-top: none;
            border-bottom: none;
            height: auto;
            padding: 20px;
        }

        .reviews__info__slider{
            width: 100%;
            display: block;
            height: auto;
            padding-bottom: 0px;
            padding: 0 70px;
        }

        .reviews__info__slider .slick-arrow{
            width: 0;
            height: 0;
        }

        .review__desc{
            font-size: 14;
        }

        .team__item__h{
            margin-bottom: 20px;
        }

        .reviews__star{
            margin-top: 20px;
        }

        .reviews__images{
            box-shadow: none;
        }

        /* Comp */

        .comp .container{
            padding: 0;
        }

        .comp{
            padding: 10 0;
        }

        .comp__item{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            width: 100px;
            padding: 15 0;
        }

        .comp__img{
            padding: 0;
            width: 60px;
        }

        /* Adress */

        .adress .container{
            padding: 0;
        }

        .adress{
            padding: 0;
            background-image: none;
        }

        .adress__inner{
            padding: 0;
            flex-direction: column;
        }

        .adress__forms{
            width: 100%;
            height: 400px;
            margin-bottom: 0px;
            border-bottom: 3px solid black;
        }

        .adress__form{
            height: 15%;
            font-size: 17px;
        }

        .send{
            max-width: 80%;
            width: 300px;
            height: 60px;
            align-self: center;
            font-size: 20px;
        }

        .adress__info{
            width: 100%;
            margin: 0;
            font-size: 17px;
            height: auto;
        }

        .adress__text{            
            padding: 20px;
        }

        .adress__item{
            padding: 10px;
            font-size: 17px;
        }
               

    }

    @media (max-width: 421px){

        .about__title, .works__title, .services__title, .team__title, .reviews__title {
            font-size: 21px;
        }

        .about__subtitle, .works__subtitle, .works__subtitle, .team__subtitle, .reviews__subtitle {
            font-size: 11px;
        }

        /* Nav */
        
        .nav{
            width: 100%;
        }

        /* .nav__element{
            height: 20px;
            width: 100%;
            font-size: 20px;
            border-bottom: 1px solid rgb(149, 149, 149);
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        } */

        /* Intro */

        .intro__title , .intro__title__p , .text--blue{
            font-size: 25px;
        }

        .text--blue{
            padding: 3px;
        }

        .intro__button{
            width: 150px;
            height: 40px;
            padding: 0;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
        }

        /* About */

        .about__inner{
            padding: 30 0;
        }

        .about__info{
            padding: 20px;
        }

        .about__info__title{
            font-size: 16px;
            text-align: center;
        }

        .about__info__desc{
            font-size: 14px;
        }

        .about__content{
            margin-top: 30px;
        }

        .about__images{
            height: 300px;
        }


        /* Works */

        .works__inner{
            padding: 30 0 0 0;
        }

        .work__items{
            margin-top: 30px;
        }

            /* Team */
    
            .team__inner{
                padding: 30 0 0 0;
            }

            .team__items{
                margin-top: 30px;
            }

            .team__item{
                width: 50%;
                padding: 0;
                margin: 0;
            }
    
            .team__img{
                width: 100%;
                height: auto;
            }
    
            .team__item__content__wrapper{
                display: flex;
                align-items: flex-end;
                padding: 0;
            }
    
            .team__item__content{
                padding: 15 17 10 17;
                transform: translateY(350px);
                height: 100%;
            }
    
            .team__item__h{
                font-size: 15px;
                margin-bottom: 5px;
                box-shadow: none;
            }
    
            .team__desc{
                font-size: 12px;
                margin-bottom: 10px;
                line-height: 1.3;
            }
    
            .social__icon{
                width: 28px;
                height: 28px;
                border: 2px solid black;
                border-radius: 9999px;
                padding: 4px;
            }
    
        /* Services */

        .brick__hover__desc{
            font-size: 13px;
        }
        
        .brick-click{
            padding: 15px;
        }

        .brick-type-small .brick-click{
            padding: 15px;
        }

        /* Reviews */

        .reviews{
            padding: 30 0 0 0;
        }

        .reviews__info__slider{
            padding: 0 50;
        }

        .reviews .container{
            padding: 0;
        }

        .reviews__content{
            margin-top: 30px;
        }

        .review__desc{
            font-size: 12px;
        }

        .reviews__star{
            margin-top: 10px;
        }


        .reviews__images{
            max-width: 100%;
        }

    }